body {
  margin: 0;
  padding: 0;
  background: url("./assets/black.avif") no-repeat center center fixed;
  background-size: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}



